# LAB 1b:  Prepare babyweight dataset.

**Learning Objectives**

1. Setup up the environment
1. Preprocess natality dataset
1. Augment natality dataset
1. Create the train and eval tables in BigQuery
1. Export data from BigQuery to GCS in CSV format


## Introduction 
In this notebook, we will prepare the babyweight dataset for model development and training to predict the weight of a baby before it is born.  We will use BigQuery to perform data augmentation and preprocessing which will be used for AutoML Tables, BigQuery ML, and Keras models trained on Cloud AI Platform.

In this lab, we will set up the environment, create the project dataset, preprocess and augment natality dataset, create the train and eval tables in BigQuery, and export data from BigQuery to GCS in CSV format.

Each learning objective will correspond to a __#TODO__ in this student lab notebook -- try to complete this notebook first and then review the [solution notebook](../solutions/1b_prepare_data_babyweight.ipynb).

## Set up environment variables and load necessary libraries

Check that the Google BigQuery library is installed and if not, install it.

In [1]:
!sudo chown -R jupyter:jupyter /home/jupyter/training-data-analyst

In [3]:
!pip install --user google-cloud-bigquery==1.25.0

Collecting google-cloud-bigquery==1.25.0
  Downloading google_cloud_bigquery-1.25.0-py2.py3-none-any.whl (169 kB)
     |████████████████████████████████| 169 kB 7.1 MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.6.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery==1.25.0) (3.16.0)
Requirement already satisfied: google-api-core<2.0dev,>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery==1.25.0) (1.26.3)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery==1.25.0) (1.6.0)
Collecting google-resumable-media<0.6dev,>=0.5.0
  Downloading google_resumable_media-0.5.1-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery==1.25.0) (1.16.0)
Requirement already satisfied: google-auth<2.0dev,>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery==1.25.0) (1.30.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (1.53.0)
Requirement already satisfied: setuptools>=40.3.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (49.6.0.post20210108)
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (from google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (2021.1)
Requirement already satisfied: packaging>=14.3 in /opt/conda/lib/python3.7/site-packages (from google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (20.9)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (2.25.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.9.0->google-cloud-bigquery==1.25.0) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.9.0->google-cloud-bigquery==1.25.0) (0.2.7)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.9.0->google-cloud-bigquery==1.25.0) (4.7.2)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=14.3->google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.9.0->google-cloud-bigquery==1.25.0) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0dev,>=1.15.0->google-cloud-bigquery==1.25.0) (4.0.0)
Installing collected packages: google-resumable-media, google-cloud-bigquery
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-cloud-storage 1.38.0 requires google-resumable-media<2.0dev,>=1.2.0, but you have google-resumable-media 0.5.1 which is incompatible.
Successfully installed google-cloud-bigquery-1.25.0 google-resumable-media-0.5.1

**Note**: Restart your kernel to use updated packages.

Kindly ignore the deprecation warnings and incompatibility errors related to google-cloud-storage.

Import necessary libraries.

In [4]:
import os
from google.cloud import bigquery

## Lab Task #1: Set environment variables.

Set environment variables so that we can use them throughout the entire lab. We will be using our project name for our bucket, so you only need to change your project and region.

In [5]:
%%bash
export PROJECT=$(gcloud config list project --format "value(core.project)")
echo "Your current GCP Project Name is: "$PROJECT

Your current GCP Project Name is: qwiklabs-gcp-00-0db9b1bc58c6

In [6]:
# TODO: Change environment variables
PROJECT = "qwiklabs-gcp-00-0db9b1bc58c6"  # REPLACE WITH YOUR PROJECT NAME
BUCKET = PROJECT  # REPLACE WITH YOUR BUCKET NAME, DEFAULT BUCKET WILL BE PROJECT ID
REGION = "us-central1"  # REPLACE WITH YOUR BUCKET REGION e.g. us-central1

# Do not change these
os.environ["BUCKET"] = PROJECT if BUCKET == "BUCKET" else BUCKET # DEFAULT BUCKET WILL BE PROJECT ID
os.environ["REGION"] = REGION

if PROJECT == "cloud-training-demos":
    print("Don't forget to update your PROJECT name! Currently:", PROJECT)

## The source dataset

Our dataset is hosted in [BigQuery](https://cloud.google.com/bigquery/). The CDC's Natality data has details on US births from 1969 to 2008 and is a publically available dataset, meaning anyone with a GCP account has access. Click [here](https://console.cloud.google.com/bigquery?project=bigquery-public-data&p=publicdata&d=samples&t=natality&page=table) to access the dataset.

The natality dataset is relatively large at almost 138 million rows and 31 columns, but simple to understand. `weight_pounds` is the target, the continuous value we’ll train a model to predict.

## Create a BigQuery Dataset and Google Cloud Storage Bucket 

A BigQuery dataset is a container for tables, views, and models built with BigQuery ML. Let's create one called __babyweight__ if we have not already done so in an earlier lab. We'll do the same for a GCS bucket for our project too.

In [8]:
%%bash

## Create a BigQuery dataset for babyweight if it doesn't exist
datasetexists=$(bq ls -d | grep -w babyweight)

if [ -n "$datasetexists" ]; then
    echo -e "BigQuery dataset already exists, let's not recreate it."

else
    echo "Creating BigQuery dataset titled: babyweight"
    
    bq --location=US mk --dataset \
        --description "Babyweight" \
        $PROJECT:babyweight
    echo "Here are your current datasets:"
    bq ls
fi
    
## Create GCS bucket if it doesn't exist already...
exists=$(gsutil ls -d | grep -w gs://${BUCKET}/)

if [ -n "$exists" ]; then
    echo -e "Bucket exists, let's not recreate it."
    
else
    echo "Creating a new GCS bucket."
    gsutil mb -l ${REGION} gs://${BUCKET}
    echo "Here are your current buckets:"
    gsutil ls
fi

Creating BigQuery dataset titled: babyweight
Dataset 'qwiklabs-gcp-00-0db9b1bc58c6:babyweight' successfully created.
Here are your current datasets:
  datasetId
 ------------
  babyweight
  taxifare
Bucket exists, let's not recreate it.

## Create the training and evaluation data tables

Since there is already a publicly available dataset, we can simply create the training and evaluation data tables using this raw input data. First we are going to create a subset of the data limiting our columns to `weight_pounds`, `is_male`, `mother_age`, `plurality`, and `gestation_weeks` as well as some simple filtering and a column to hash on for repeatable splitting.

* Note:  The dataset in the create table code below is the one created previously, e.g. "babyweight".

### Lab Task #2: Preprocess and filter dataset

We have some preprocessing and filtering we would like to do to get our data in the right format for training.

Preprocessing:
* Cast `is_male` from `BOOL` to `STRING`
* Cast `plurality` from `INTEGER` to `STRING` where `[1, 2, 3, 4, 5]` becomes `["Single(1)", "Twins(2)", "Triplets(3)", "Quadruplets(4)", "Quintuplets(5)"]`
* Add `hashcolumn` hashing on `year` and `month`

Filtering:
* Only want data for years later than `2000`
* Only want baby weights greater than `0`
* Only want mothers whose age is greater than `0`
* Only want plurality to be greater than `0`
* Only want the number of weeks of gestation to be greater than `0`

In [14]:
%%bigquery
SELECT
    *
FROM
#     publicdata.samples.natality
    publicdata.samples.INFORMATION_SCHEMA.COLUMNS
WHERE 
    table_name = 'natality'
ORDER BY column_name

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 995.68query/s]
Downloading: 100%|██████████| 31/31 [00:01<00:00, 20.73rows/s]

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position
0,publicdata,samples,natality,alcohol_use,22,YES,BOOL,NEVER,None,None,NO,None,NO,NO,NaN
1,publicdata,samples,natality,apgar_1min,11,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
2,publicdata,samples,natality,apgar_5min,12,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
3,publicdata,samples,natality,born_alive_alive,25,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
4,publicdata,samples,natality,born_alive_dead,26,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
5,publicdata,samples,natality,born_dead,27,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
6,publicdata,samples,natality,child_race,8,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
7,publicdata,samples,natality,cigarette_use,20,YES,BOOL,NEVER,None,None,NO,None,NO,NO,NaN
8,publicdata,samples,natality,cigarettes_per_day,21,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
9,publicdata,samples,natality,day,4,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
10,publicdata,samples,natality,drinks_per_week,23,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
11,publicdata,samples,natality,ever_born,28,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
12,publicdata,samples,natality,father_age,30,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
13,publicdata,samples,natality,father_race,29,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
14,publicdata,samples,natality,gestation_weeks,16,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
15,publicdata,samples,natality,is_male,7,NO,BOOL,NEVER,None,None,NO,None,NO,NO,NaN
16,publicdata,samples,natality,lmp,17,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
17,publicdata,samples,natality,month,3,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
18,publicdata,samples,natality,mother_age,15,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
19,publicdata,samples,natality,mother_birth_state,19,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
20,publicdata,samples,natality,mother_married,18,YES,BOOL,NEVER,None,None,NO,None,NO,NO,NaN
21,publicdata,samples,natality,mother_race,14,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
22,publicdata,samples,natality,mother_residence_state,13,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
23,publicdata,samples,natality,plurality,10,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
24,publicdata,samples,natality,record_weight,31,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
25,publicdata,samples,natality,source_year,1,NO,INT64,NEVER,None,None,NO,None,NO,NO,NaN
26,publicdata,samples,natality,state,6,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
27,publicdata,samples,natality,wday,5,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
28,publicdata,samples,natality,weight_gain_pounds,24,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
29,publicdata,samples,natality,weight_pounds,9,YES,FLOAT64,NEVER,None,None,NO,None,NO,NO,NaN
30,publicdata,samples,natality,year,2,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN

In [23]:
%%bigquery
CREATE OR REPLACE TABLE
    babyweight.babyweight_data AS
SELECT
    weight_pounds, 
    # Cast is_male from BOOL to STRING
    CASE WHEN is_male THEN 'men' ELSE 'wemen' END AS is_male,
    mother_age, 
    # Cast plurality from INTEGER to STRING where [1, 2, 3, 4, 5] becomes 
    # ["Single(1)", "Twins(2)", "Triplets(3)", "Quadruplets(4)", "Quintuplets(5)"]
    CASE
        WHEN plurality = 1 THEN 'Single(1)'
        WHEN plurality = 2 THEN 'Twins(2)'
        WHEN plurality = 3 THEN 'Triplets(3)'
        WHEN plurality = 4 THEN 'Quadruplets(4)'
        WHEN plurality = 5 THEN 'Quintuplets(5)'
    END AS plurality,
    gestation_weeks,
    ABS(FARM_FINGERPRINT(CONCAT(
        CAST(year AS STRING),
        CAST(month AS STRING)))
    ) AS hashmonth # Add hashcolumn hashing on year and month
FROM
    publicdata.samples.natality
WHERE 1=1
    AND year > 2000 # Only want data for years later than 2000
    AND weight_pounds > 0 # Only want baby weights greater than 0
    AND mother_age > 0 # Only want mothers whose age is greater than 0
    AND plurality > 0 # Only want plurality to be greater than 0
    AND gestation_weeks > 0 # Only want the number of weeks of gestation to be greater than 0

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1937.92query/s]

Empty DataFrame
Columns: []
Index: []

### Lab Task #3: Augment dataset to simulate missing data

Now we want to augment our dataset with our simulated babyweight data by setting all gender information to `Unknown` and setting plurality of all non-single births to `Multiple(2+)`.

In [33]:
%%bigquery
SELECT
    weight_pounds, 
    # Cast is_male from BOOL to STRING
    'Unknown' AS is_male,
    mother_age, 
    # plurality of all non-single births to `Multiple(2+)`
    CASE
        WHEN plurality != 'Single(1)' THEN 'Multiple(2+)'
    END AS plurality,
    gestation_weeks
FROM
    babyweight.babyweight_data

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1520.41query/s]
Downloading: 100%|██████████| 33011359/33011359 [00:13<00:00, 2391718.39rows/s]

          weight_pounds  is_male  mother_age     plurality  gestation_weeks
0              2.839554  Unknown          25  Multiple(2+)               27
1              3.110723  Unknown          25  Multiple(2+)               31
2              1.000899  Unknown          25          None               19
3              6.937947  Unknown          25          None               46
4              2.480200  Unknown          25          None               30
...                 ...      ...         ...           ...              ...
33011354       7.813183  Unknown          24          None               44
33011355       8.483388  Unknown          24          None               44
33011356       6.000983  Unknown          24          None               44
33011357       7.936641  Unknown          24          None               44
33011358       7.006291  Unknown          24          None               44

[33011359 rows x 5 columns]

In [36]:
%%bigquery
CREATE OR REPLACE TABLE
    babyweight.babyweight_augmented_data AS
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    hashmonth
FROM
    babyweight.babyweight_data
UNION ALL
SELECT
    weight_pounds, 
    # Cast is_male from BOOL to STRING
    'Unknown' AS is_male,
    mother_age, 
    # plurality of all non-single births to `Multiple(2+)`
    CASE
        WHEN plurality != 'Single(1)' THEN 'Multiple(2+)'
    END AS plurality,
    gestation_weeks,
    hashmonth
FROM
    babyweight.babyweight_data

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1538.63query/s]

Empty DataFrame
Columns: []
Index: []

In [41]:
%%bigquery
SELECT COUNT(*) FROM babyweight.babyweight_augmented_data

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 947.12query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.12s/rows]

        f0_
0  66022718

In [43]:
%%bigquery
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks,
    MOD(hashmonth, 4) AS mod_hashmonth
FROM
    babyweight.babyweight_augmented_data
LIMIT 10

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1058.50query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  5.87rows/s]

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,mod_hashmonth
0,6.874013,men,14,Single(1),29,2
1,2.160530,men,15,Single(1),26,0
2,7.561856,men,43,Single(1),29,1
3,5.500533,men,15,Single(1),25,3
4,2.936557,men,42,Single(1),29,1
5,6.624891,men,15,Single(1),31,3
6,1.999593,men,42,Single(1),25,1
7,6.966607,men,15,Single(1),45,0
8,3.249614,men,13,Single(1),26,2
9,5.500533,men,46,Single(1),31,2

### Lab Task #4: Split augmented dataset into train and eval sets

Using `hashmonth`, apply a modulo to get approximately a 75/25 train/eval split.

### Split augmented dataset into train dataset

#### **Exercise**:   **RUN** the query to create the training data table.

In [46]:
%%bigquery
CREATE OR REPLACE TABLE
    babyweight.babyweight_data_train AS
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks
FROM
    babyweight.babyweight_augmented_data
WHERE
    MOD(hashmonth, 4) < 3

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1832.37query/s]

Empty DataFrame
Columns: []
Index: []

In [47]:
%%bigquery
-- LIMIT 0 is a free query; this allows us to check that the table exists.
SELECT count(*) FROM babyweight.babyweight_data_train
# LIMIT 0

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 916.59query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.35s/rows]

        f0_
0  52885324

### Split augmented dataset into eval dataset

#### **Exercise**:   **RUN** the query to create the evaluation data table.

In [48]:
%%bigquery
CREATE OR REPLACE TABLE
    babyweight.babyweight_data_eval AS
SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks
FROM
    babyweight.babyweight_augmented_data
WHERE
    MOD(hashmonth, 4) = 3

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1722.74query/s]

Empty DataFrame
Columns: []
Index: []

## Verify table creation

Verify that you created the dataset and training data table.

In [49]:
%%bigquery
-- LIMIT 0 is a free query; this allows us to check that the table exists.
SELECT count(*) FROM babyweight.babyweight_data_train
# LIMIT 0

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1015.32query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.39s/rows]

        f0_
0  52885324

In [50]:
%%bigquery
-- LIMIT 0 is a free query; this allows us to check that the table exists.
SELECT count(*) FROM babyweight.babyweight_data_eval

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1337.04query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.50s/rows]

        f0_
0  13137394

## Lab Task #5: Export from BigQuery to CSVs in GCS

Use BigQuery Python API to export our train and eval tables to Google Cloud Storage in the CSV format to be used later for TensorFlow/Keras training. We'll want to use the dataset we've been using above as well as repeat the process for both training and evaluation data.

In [52]:
# Construct a BigQuery client object.
client = bigquery.Client()

dataset_name = 'babyweight'

# Create dataset reference object
dataset_ref = client.dataset(
    dataset_id=dataset_name, project=client.project)

extract_jobs = []

# Export both train and eval tables
for step in ['train', 'eval']:
    destination_uri = os.path.join(
        "gs://", BUCKET, dataset_name, "data", "{}*.csv".format(step))
    table_name = "babyweight_data_{}".format(step)
    table_ref = dataset_ref.table(table_name)
    extract_job = client.extract_table(
        table_ref,
        destination_uri,
        # Location must match that of the source table.
        location="US",
    )  # API request
    extract_jobs.append(extract_job)
    
print('waiting for jobs')
for extract_job in extract_jobs:
    extract_job.result()  # Waits for job to complete.

    print("Exported {}:{}.{} to {}".format(
        client.project, dataset_name, table_name, destination_uri))

waiting for jobs
Exported qwiklabs-gcp-00-0db9b1bc58c6:babyweight.babyweight_data_eval to gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/eval*.csv
Exported qwiklabs-gcp-00-0db9b1bc58c6:babyweight.babyweight_data_eval to gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/eval*.csv

## Verify CSV creation

Verify that we correctly created the CSV files in our bucket.

In [53]:
%%bash
gsutil ls gs://${BUCKET}/babyweight/data/*.csv

gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/eval000000000000.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/eval000000000001.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000000.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000001.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000002.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000003.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000004.csv
gs://qwiklabs-gcp-00-0db9b1bc58c6/babyweight/data/train000000000005.csv

In [54]:
%%bash
gsutil cat gs://${BUCKET}/babyweight/data/train000000000000.csv | head -5

weight_pounds,is_male,mother_age,plurality,gestation_weeks
4.1005980732,wemen,44,Triplets(3),33
2.06352677232,men,45,Triplets(3),30
3.62219496466,men,42,Triplets(3),31
5.3792791928,wemen,50,Triplets(3),35

In [55]:
%%bash
gsutil cat gs://${BUCKET}/babyweight/data/eval000000000000.csv | head -5

weight_pounds,is_male,mother_age,plurality,gestation_weeks
4.0565056208,men,46,Triplets(3),32
4.74875712348,men,46,Triplets(3),34
1.81219979364,men,44,Triplets(3),32
2.19800875214,wemen,45,Triplets(3),31

## Lab Summary: 
In this lab, we setup our environment, created a BigQuery dataset, preprocessed and augmented the natality dataset, created train and eval tables in BigQuery, and exported data from BigQuery to GCS in CSV format.

Copyright 2019 Google Inc. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License